<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Contact Me</title>
        <link rel="icon" type="image/x-icon" href="static/AS_Favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        {%include 'styles.html'%}
        </style>
    </head>
    
    <body>
        {%include 'nav.html'%}
        <div class="row">
            <div class="col-lg-6 mx-auto" style="margin-top: 70px;">
                <div class="container white-box2" style="width: 90%; padding-bottom: 10px;">
                    <div class="text-center text1">
                        <h1 style="font-size: 45px;">GET IN TOUCH</h1>
                        <p class="lead text2" style="font-size: 18px; margin-top: 10px;">
                            Please enter the details below
                        </p>
                    </div>
                    <div class="col-lg-6 mx-auto my-4" style="margin-top: 10px; width: 90%;">
                        <form id="contactForm">
                            <label for="email" class="form-label my-3 navs">Email Address</label>
                            <input type="email" id="email" placeholder="my@email.com" class="form-control" name="email_id"/>
                                
                            <label for="name" class="form-label my-3 navs">Name</label>
                            <input type="name" id="name" placeholder="e.g. David" class="form-control" name="name"/>

                            <label for="place" class="form-label my-3 navs">Location</label>
                            <input type="text" id="place" placeholder="e.g. Place" class="form-control" name="place"/>

                            <label for="subject" class="form-label my-3 navs">Are you a Recruiter?</label>
                            <select type="text" id="recruiter" class="form-select my-auto" name="recruiter">
                                <option value="No">NO</option>
                                <option value="Yes">YES</option>
                            </select>
                            <label for="query" class="my-3 navs">Write a Message</label>
                            <textarea id="query" cols="40" rows="10" style="height: 200px; resize: none;" placeholder="Write something here.." class="form-control text1"></textarea>
                            <div class="text-center my-3 btn-container">
                                <button type="button" class="btn btn-success my-3" onclick="submitForm()" id="submitButton">
                                    <span>SUBMIT</span>
                                </button>
                                <div class="popup" id="popup">
                                    <span>Message sent!</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="center-image2" style="margin-top: 20px;">
                    <img src="static/contact.svg" width="80%"/>
                </div>
            </div>
        </div>
        <div style="height: 30px;"></div>
        {%include 'footer.html'%}   
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            function submitForm() {
                var email = document.getElementById('email').value;
                var name = document.getElementById('name').value;
                var place = document.getElementById('place').value;
                var recruiter = document.getElementById('recruiter').value;
                var query = document.getElementById('query').value;
                var sendButton = document.getElementById('submitButton');
                var popup = document.getElementById('popup');

                // Disable the button and show "SENDING..." text
                sendButton.disabled = true;
                sendButton.querySelector('span').innerHTML = 'SENDING...';

                axios.post('https://formspree.io/f/xwkdkbqj', { Email: email, Name: name, Location: place, 'Is he a recruiter' : recruiter, Message: query , subject : 'Message from Portfolio Website'})
                    .then(function (response) {
                        console.log('Form submitted to first URL');
                        popup.classList.add('show');
                        document.getElementById('contactForm').reset();
                    })
                    .catch(function (error) {
                        console.error('Error submitting form to first URL:', error);
                    })
                    .finally(function () {
                        // Enable the button after form submission is completed
                        sendButton.querySelector('span').innerHTML = 'SUBMIT';
                        sendButton.disabled = false;
                    });

                // Hide the popup after 5 seconds
                setTimeout(function() {
                    popup.classList.remove('show');
                }, 3000);
            }
        </script>
    </body>
</html>
