<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="static/AS_Favicon.ico">
    <title>Safety Helmet Detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {%include 'styles.html'%}
</head>
<body>
    {%include 'nav.html'%}
    <div class="container white-box shadow-lg " style="margin-top: 60px; width: auto; padding: 5% 5%;">
        <h1 class="text2 " style="font-size: 220%; font-weight: 500; margin-top: -2%; margin-bottom: 3%;">
            <center>
                SAFETY HELMET DETECTION - USING YOLO
            </center> 
        </h1>
        <hr class="hr hr-blurry" />
        <div class="row gy-2" style="padding-left: 2%; padding-right: 8%;">
            <p style="margin-top: 5%;" >
                <h3 class="text2" style="font-size: 150%; font-weight: 500;"> ABSTRACT </h3>
                <p class="text2" style="margin-top: 3%; line-height: 2; margin-bottom: 5%;">
                    <centre>
                        In industrial and construction settings, ensuring the safety of workers is paramount. Accidents and injuries can be significantly reduced by enforcing the usage of safety helmets. This project focuses on developing a safety helmet detection system using the YOLOv8 (You Only Look Once version 8) deep learning model. 
                        YOLOv8 is a state-of-the-art object detection algorithm known for its efficiency and accuracy in real-time applications.
                        The main objective of this project is to create an automated system that can accurately identify whether workers are wearing safety helmets in real-time video streams and detect the people who are not wearing safety helmets.
                    </centre>
                </p>
        </div>
        <div class="container text1" style="margin-top: 1%; line-height: 2; margin-left: -1%;">
            <div class="row gy-2" style="padding-left: 2%; padding-right: 5%;">
                <div class="col-lg-7" style="padding-right: 5%;">
                    <h3 class="text2" style="font-size: 150%; font-weight: 500;"> INTRODUCTION </h3>
                    <p class="text2" style="margin-top: 6%; line-height: 2;">
                        <centre>
                            
                        </centre>
                    </p>
                </div>
            </div>
        </div>   
    </div>
    <div style="height: 50px;"></div>
    {%include 'footer.html'%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>