<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portfolio Website</title>
    <link rel="icon" type="image/x-icon" href="static/AS_Favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cerulean/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    {%include 'styles.html'%}
</head>
<body>
    {% include 'nav.html' %}
    <div class="container my-5 mx-auto white-box" style="color: darkslategray;">
      <div class="row d-lg-none justify-content-center">
        <div class="col-1">
          <a href="https://www.linkedin.com/in/archismansengupta2403/" target="_blank">
              <img src="static\linkedin.svg" style="height: 22px; margin-top: 5%+20px;">
          </a>
        </div>
      <div class="col-1">
          <a href="https://github.com/Archisman24" target="_blank">
              <img src="static\github.svg" style="height: 22px;">
          </a>
      </div>
      <div class="col-1">
          <a href="https://www.kaggle.com/archisman24" target="_blank">
              <img src="static\kaggle.svg" style="height: 22px;">
          </a>
      </div>
      <div class="col-1">
          <a href="https://www.instagram.com/archisman_24/" target="_blank">
              <img src="static\instagram.svg" style="height: 22px;">
          </a>
      </div>
      <div class="col-1">
          <a href="https://twitter.com/ArchismanSengu4" target="_blank">
              <img src="static\twitter.svg" style="height: 22px;">
          </a>
      </div>
      </div>
      <div class="row align-items-center">
          <div class="col-lg-1 d-none d-lg-flex flex-column align-items-center" style="margin-left: -2%;">
              <div class="row">
                  <a href="https://www.linkedin.com/in/archismansengupta2403/" target="_blank">
                      <img src="static\linkedin.svg" style="height: 22px; margin-top: 5%+20px;">
                  </a>
              </div>
              <div class="row">
                  <a href="https://github.com/Archisman24" target="_blank">
                      <img src="static\github.svg" style="height: 22px; margin-top: 20px;">
                  </a>
              </div>
              <div class="row">
                  <a href="https://www.kaggle.com/archisman24" target="_blank">
                      <img src="static\kaggle.svg" style="height: 22px; margin-top: 20px;">
                  </a>
              </div>
              <div class="row">
                  <a href="https://www.instagram.com/archisman_24/" target="_blank">
                      <img src="static\instagram.svg" style="height: 22px; margin-top: 20px;">
                  </a>
              </div>
              <div class="row">
                  <a href="https://twitter.com/ArchismanSengu4" target="_blank">
                      <img src="static\twitter.svg" style="height: 22px; margin-top: 20px;">
                  </a>
              </div>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12" style=" max-width: 800px; margin-top: 5%; margin-bottom: 5%;">
              <div class="row justify-content-left text align-content-end text2" style="height: 80px; font-size: 130%; font-weight: bold; margin-left: 2%;">HI THERE!</div>
              <div class="row justify-content-left text align-content-center text2 display-4 " style="height:auto; font-size: 150%px; font-weight: bold; margin-left: 2%; margin-top: 1%;">I AM ARCHISMAN SENGUPTA</div>
              <p class="lead text2" style="border-bottom-width: 2px; padding-bottom: 5px; margin-bottom: 5px; margin-left: 2%; ">Mechanical Engineer, ML Enthusiast</p>
              <a href="/contact">
                  <button type="button" class="btn btn-lg gradient-button text2 " style="margin-top: 30px; font-size: 12px; font-weight: bolder; margin-bottom: 30px;">
                      CONTACT ME
                      <img src="static\arrow-right-circle-fill.svg" style="margin-left: 5px;">
                  </button>
              </a>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 mx-2">
              <div class="row center-image">
                  <img src="static\avatar.png" alt="Avatar" class="img-fluid shift-right" style=" margin-top: 5%; max-width: 400px; margin-bottom: 14%;">
              </div>
          </div>
      </div>
      <div>
        <img src="static/Initials.png" alt="Initials" class="img-fluid bottom-image " width="50" height="50" style=" margin-left: 2%; margin-top: 2%;">
      </div>
      
  </div>
    {%include 'footer.html'%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
